# Summarisation Quality Assessment

This notebook loads the results of G-EVAL summarisation texts and reports Coherence, Consistency, Fluency, and Relevane metrics.

To run G-Eval use this command:
```
python code/gpt_summarisation.py --env-file ./env_files/gpt_summeval.env --compute-geval --summarisation-results-input ./summarisation_outputs/gpt_summaries_summeval_DM_gpt-4o.jsonl --output ./summarisation_outputs/gpt_summaries_summeval_DM_gpt-4o_geval.csv
```

In [ ]:
import pandas as pd

## G-EVal Summary

In [ ]:
pd.read_csv('summarisation_outputs/gpt_summaries_summeval_DM_gpt-4o_geval.csv').describe()

        Coherence  Consistency     Fluency   Relevance
count  100.000000   100.000000  100.000000  100.000000
mean     4.520000     4.520000    4.740000    4.360000
std      0.502117     0.540856    0.440844    0.627968
min      4.000000     3.000000    4.000000    3.000000
25%      4.000000     4.000000    4.000000    4.000000
50%      5.000000     5.000000    5.000000    4.000000
75%      5.000000     5.000000    5.000000    5.000000
max      5.000000     5.000000    5.000000    5.000000

In [ ]:
gpt_geval = pd.read_csv('summarisation_outputs/gpt_summaries_summeval_DM_gpt-4o_geval.csv')
gpt_geval.head()

   Coherence  Consistency  Fluency  Relevance
0          5            5        5          5
1          5            5        4          5
2          4            4        4          4
3          5            5        5          5
4          5            5        5          5

In [ ]:
pd.read_csv('summarisation_outputs/gpt_summaries_summeval_DM_gpt-4o_bertscore.csv').describe()

                P           R          F1
count  100.000000  100.000000  100.000000
mean     0.313682    0.563575    0.410137
std      0.085469    0.078050    0.076360
min      0.085354    0.404059    0.199757
25%      0.253370    0.513065    0.365104
50%      0.308816    0.559239    0.417811
75%      0.366895    0.616344    0.462517
max      0.541770    0.783591    0.615724